.button {
  text-align: center;
  padding: 20px;
  border: none;
  font-size: 14px;
  margin: 5px;
  width: 200px;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
  background-color: #f4511e;
}
#mybutton
{
  text-align: center;
  width: 50%;
}

.close {
  font-weight: bold;
  float: right;
  font-size: 28px;
  color: white;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.container {
  text-align: center;
}

.modal {
  text-align:center ;
  padding-top: 100px;
  display: none;
  height: 100%;
  background-color: rgb(0,0,0);
  overflow: auto;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  left: 0;
}
.modal-content {
  width: 100%;
  animation-duration: 0.4s;
  bottom: 0;
  background-color: #fefefe;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  -webkit-animation-name: slideIn;
}
.modal-header {
  color: white;
  background-color: #5cb85c;
  padding: 2px 16px;
}
.modal-footer {
  color: white;
  padding: 2px 16px;
  background-color: #5cb85c;
}
