<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestr Pracowników</title>
    <link rel="stylesheet" href="../../CSS/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">Rejestr Pracowników</div>
        <ul class="nav-links">
            <li><a href="index.html">Lista Pracowników</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Rejestr Pracowników</h1>
    
        
    
        <h2>Lista Pracowników</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                </tr>
            </thead>
            <tbody id="employee-list">
                <!-- Lista pracowników -->
            </tbody>
        </table>
    
        <h2>Godziny Pracy</h2>
        <table>
            <thead>
                <tr>
                    <th>ID Pracownika</th>
                    <th>Data</th>
                    <th>Ilość Godzin</th>
                    <th>Komentarz</th>
                </tr>
            </thead>
                <tbody id="comment-list">
                <!-- Lista komentarzy -->
                </tbody>
            </thead>
            <tbody id="worklog-list">
                <!-- Lista godzin pracy -->
            </tbody>
        </table>
    
       
     
    </div>
</body>
</html>

