<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestr Pracowników</title>
    <link rel="stylesheet" href="../../../CSS/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">Rejestr Pracowników</div>
        <ul class="nav-links">
            <li><a href="../../../Employee/indexAdmin.php">Strona Główna</a></li>
            <li><a href="Dodaj.html">Dodaj pracownika</a></li>
            <li><a href="Usuń.html">Usuń Pracownika</a></li>
            <li><a href="Edytuj.html">Edytuj Pracownika</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Usuń Pracownika</h2>
        <form id="form-group">
            <label for="employee-name">Nazwa Pracownika:</label>
            <input type="text" id="employee-name" name="employee-name" required>
            <label for="employee-id">ID Pracownika:</label>
            <input type="number" id="employee-id" name="employee-id" required>
            <label for="employee-position">Stanowisko</label>
            <input type="text" id="employee-position" name="employee-position" required>
            <button type="submit">Dodaj Pracownika</button>
        </form>
    <br>
    
    </div>
    <script src="../../Script/script.js"></script>
</body>
</html>